@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: 'sans', sans-serif;
	background-color: #3e1f47;
}

@layer utilities {
	.scrollbar-none {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
	}
	.scrollbar-none::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
